
<div>
    <div class="@Css col-span-full my-3 h-px border-0 bg-@Theme.Settings.Colors.LightBorder dark:bg-@Theme.Settings.Colors.DarkBorder" role="separator"></div>
</div>

@code{

    [Parameter] public string Css { get; set; } = string.Empty;

}