@inherits LayoutComponentBase

<div id="theme-wrapper" class="mode light font-body">
    <div id="main-wrapper" class="bg-gray-200/95 pr-2 dark:bg-zinc-950">
        <div class="min-h-screen flex flex-col">
            <main class="grow p-5 mb-2 text-black dark:text-white bg-white border border-zinc-950/15 dark:border-white/10 border-t-0 rounded-lg rounded-tl-none rounded-tr-none lg:shadow-xs dark:lg:bg-zinc-900">
                @Body
            </main>
        </div>
    </div>
</div>

@code {
    
}